* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c9c6b6;     
}

#title {
    color: #fc8403;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 4rem;
    text-shadow: 0 0 10px #fc8403;
}

.botonera {
    display: flex;
    justify-content: center;
}

button {
    background-color: #fc8403;
    border: none;
    color: #2a0303;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}